.not-found {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found-heading {
  color: #d9534f;
  font-size: max(4vw,96px);
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.not-found-description {
  text-align: center;
  color: #333333;
  font-size: 18px;
  max-width: 600px;
  margin: 20px 0px;
}

.home-button {
  color: #49557e;
  background-color: transparent;
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #ff6347;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #ffe9e6;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .not-found-heading {
    font-size: max(2vw,64px);
  }
  .not-found-description {
    font-size: 16px;
  }
  .home-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
