.orders {
    color: #6d6d6d;
    font-size: 16px;
    width: 70%;
    margin-top: 50px;
    margin-left: max(5vw,25px);
}

.orders-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orders-header-heading {
    margin: 0;
}

.orders-count {
    font-weight: 400;
}

.refresh-button {
    color: #ffffff;
    background-color: #ff6347;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: #e5533d;
}

.refresh-button:focus {
    outline: none;
}

.order-list {
    display: flex;
    flex-direction: column-reverse;
}

.order-item {
    font-size: 14px;
    padding: 20px;
    border: 1px solid #ff6347;
    margin: 30px 0px;
    display: grid;
    align-items: flex-start;
    gap: 30px;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
}

.order-item-food, .order-item-name {
    font-weight: 500;
}

.order-item-name {
    margin-top: 20px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item-phone {
    color: #333333;
}

.order-item-select {
    background-color: #ffe8e4;
    width: max(10vw, 140px);
    padding: 10px;
    border: 1px solid #ff6347;
    outline: none;
}

.order-item-select-option {
    color: #333333;
    background-color: #ffe8e4;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ff6347;
}

.order-item-select-option[value='Food Processing'] {
    background-color: #ffdab9;
    height: 200px;
}

.order-item-select-option[value='Out For Delivery'] {
    background-color: #fffacd;
}

.order-item-select-option[value='Delivered'] {
    background-color: #98fb98;
}

@media (max-width: 991px) {
    .order-item {
        font-size: 12px;
        padding: 16px 8px;
        grid-template-columns: 0.5fr 2fr 1fr;
    }
    .order-item-select {
        font-size: 12px;
        padding: 4px;
    }
    .order-item-image {
        width: 40px;
    }
}