.app-download {
    text-align: center;
    font-size: max(3vw, 20px);
    font-weight: 500;
    margin: 75px auto;
}

.app-download-text {
    color: #333333;
}

.app-download-platforms {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
}

.app-download-platforms-image {
    width: max(30vw, 120px);
    max-width: 180px;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.app-download-platforms-image:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
    .app-download {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .app-download-platforms {
        margin-top: 20px;
    }
    .app-download-platforms-image {
        width: 45vw;
        max-width: 140px;
    }
}
